body {
    background-color:#37474f;
}

h1 {
    width: 100%;
    text-align: center;
}

.page-header hr{
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
}

#jumbo{
    background-color: #f8f9fa;
    box-sizing: content-box;
    margin-left: 0em;
    padding-left: 0.5em;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    padding-right: 0.5em;
    margin-right: 0em;
}